<div class="container">
      {{#each games}}
            <div class="container">
                  <h3>{{name}}</h3>
                  <h3>{{total_rating}}</h3>
            </div>
      {{/each}}
</div>