<div>
      <h3>Search Results:</h3>
      {{#each games}}
            <div class="row" id="listOfSearchedGames" >
                  <img src="{{game_img1}}" alt="" srcset="">
                  <a href="/site/games/{{id}}">
                        <h3>{{name}}</h3>
                  </a>
            </div>
      {{/each}}
</div>